.menu{
    display: flex;
    align-items: stretch;
    width:100%;
}

.menu-logo {
    width:40%;
    height: 5%;
    float: left;
}

#menu-call{
    width: 30%;
    border-right: gray solid 1px;
    text-align: right;
    padding-right: 2%;
}

#menu-media{
    width: 30%;
    padding-left: 2%;
}

#menu-design{
    width: 30px;
    float: right;
}

header{
    width: 90%;
    margin: auto;
    margin-bottom: 2%;
}